### 使用pandas工具导入csv文件

In [72]:
import pandas as pd

In [73]:
content=pd.read_csv(r'C:\Users\Triby\Desktop\information shannon.csv',encoding='gb18030')

In [74]:
content.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 12
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [75]:
from collections import Counter

In [76]:
import numpy as np

In [77]:
l=[1,2,2,3,3,3]

In [78]:
Counter(l)     #使用Counter对列表的每个元素进行数量统计

Counter({1: 1, 2: 2, 3: 3})

In [79]:
Counter(l).values()

dict_values([1, 2, 3])

In [80]:
for i in Counter(l):
    print (Counter(l)[i] )

1
2
3

In [81]:
def pr_i(i,iterables):
    return  Counter(l)[i]/len(iterables)#计算每个元素在列表中的数量占比，即概率

In [82]:
pr_i(4,l)

0.0

### 通过分别使用每个元素进行分割，比较得到的的熵，当熵最小时，的分割元素为本次决策点。

In [53]:
from functools import lru_cache

In [54]:
def entropy(iterables):
    return -sum(pr_i(i,iterables)*np.log2(pr_i(i,iterables)) for i in set(iterables))

In [55]:
entropy(l) #计算l的熵

1.4591479170272448

In [58]:
def split(iterables,i):
    return [e for e in iterables if e==i],[e for e in iterables if e!=i]

In [59]:
l_1,l_2=split(l,1)

In [60]:
entropy(l_1)+entropy(l_2)

0.9709505944546686

In [61]:
l_3,l_4=split(l,2)

In [62]:
entropy(l_3)+entropy(l_4)

0.8112781244591328

In [65]:
l_5,l_6=split(l,3)

In [66]:
entropy(l_5)+entropy(l_6)

0.9182958340544896

### BSF and DSF

In [84]:
import requests

In [85]:
url = 'https://movie.douban.com/subject/26430636/?from=showing'

In [86]:
requests.get(url)

In [87]:
res = requests.get(url)

In [88]:
import bs4 as bs

In [89]:
soup = bs.BeautifulSoup(res.text)

C:\ProgramData\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\ProgramData\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [90]:
content = soup.find('span', {'property': 'v:summary'})

In [92]:

G = {
    'a': ['b', 'c', 'd'], 
    'c': ['e', 'f', 'a'],
    'b': ['c', 'a', 'g'],
    'd': ['e', 'f']
}

In [93]:
visited = set()

In [95]:
unvisited = ['a']

In [96]:

while len(unvisited) > 0: 
    span = unvisited.pop(0)
    print(visited)
    if span in visited: continue 
        
    for element in G.get(span, []):
        unvisited.append(element)
    
    visited.add(span)

set()
{'a'}
{'a', 'b'}
{'c', 'a', 'b'}
{'c', 'a', 'd', 'b'}
{'c', 'a', 'd', 'b'}
{'c', 'a', 'd', 'b'}
{'c', 'b', 'g', 'a', 'd'}
{'c', 'b', 'g', 'a', 'e', 'd'}
{'c', 'b', 'g', 'a', 'e', 'f', 'd'}
{'c', 'b', 'g', 'a', 'e', 'f', 'd'}
{'c', 'b', 'g', 'a', 'e', 'f', 'd'}