In [4]:
import pandas as pd
pandas.__version__

'0.22.0'

In [35]:
import numpy as np

In [38]:
data=pd.Series([0.25,0.5,0.7,0.9])#使用数组建立Series对象，pandas会自动为其创建显式索引
data

0    0.25
1    0.50
2    0.70
3    0.90
dtype: float64

In [39]:
data.values,data.index #可以使用.values和.index进行数值和索引的访问

(array([0.25, 0.5 , 0.7 , 0.9 ]), RangeIndex(start=0, stop=4, step=1))

In [49]:
data[0:3],data[2] #使用整数进行索引时，左开右闭。但是使用其他索引时，左右都是闭的。

(0    0.25
 1    0.50
 2    0.70
 dtype: float64, 0.7)

In [50]:
data1=pd.Series([1,2,3,4,5],index=['12','5',8,'8','e'])
data1

12    1
5     2
8     3
8     4
e     5
dtype: int64

In [51]:
data1['5':'e']

5    2
8    3
8    4
e    5
dtype: int64

In [52]:
data1['8'] ,data1[8]

(4, 3)

In [42]:
population_dict={'california':235356564,
                'texas':4565554444,
                'new york':12333333,
                'florida':45556666,
                'illions':1255555}

In [45]:
population=pd.Series(population_dict)
population

california     235356564
florida         45556666
illions          1255555
new york        12333333
texas         4565554444
dtype: int64

In [47]:
population['california']

235356564

In [55]:
population['califrnia':'new york'] #series对象不同于字典。可以通过访问索引区间批量访问值。

florida     45556666
illions      1255555
new york    12333333
dtype: int64

创建series对象

In [60]:
pd.Series([2,4,6]) #使用数组创建，索引会自动默认为0.1.2……整数序列

0    2
1    4
2    6
dtype: int64

In [73]:
pd.Series(5,index=[100,200,300])#当data是一个标量时，会自动补充至每个索引上。

100    5
200    5
300    5
dtype: int64

In [74]:
pd.Series({'2':3,'3':3,4:4})#使用字典创建series对象。

2    3
3    3
4    4
dtype: int64

In [75]:
pd.Series({'2':3,'3':3,4:4},index=['2','3'])#通过索引可以指定想要的结果。series通常只会保留显式定义的键值对。

2    3
3    3
dtype: int64