# Series 数据选择方法

#Series的使用与字典类似

In [17]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [20]:
data['b']

0.5

In [21]:
'a' in data

True

In [22]:
data.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [24]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0), ('e', 1.25)]

In [15]:
data['e']=1.25

In [26]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

series的使用也与numpy一维数组类似

In [30]:
data['a':"c"]

a    0.25
b    0.50
c    0.75
dtype: float64

In [32]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [35]:
data[(data>0.3)&(data<0.8)]

b    0.50
c    0.75
dtype: float64

In [37]:
data[['a','e']]

a    0.25
e    1.25
dtype: float64

索引器：loc,iloc,ix。 因为当显式索引为整数时，不太容易与隐式索引进行区分。所以使用这三个属性。

In [40]:
data=pd.Series(['a','b','c'],index=[1,3,5])

In [41]:
data

1    a
3    b
5    c
dtype: object

In [45]:
data[1] #取值操作只能用显式索引。

'a'

In [52]:
data[0:2]

1    a
3    b
dtype: object

In [55]:
data[1:3]#但是切片操作既可以用显式索引又可以用隐式索引。

3    b
5    c
dtype: object

In [61]:
data.loc[1],data.iloc[0]#取值时，loc代表索引器的属性为显式索引。iloc代表索引器的属性为隐式。

('a', 'a')

In [64]:
data.loc[1:3],data.iloc[0:2]##切片时，loc代表索引器的属性为显式索引。iloc代表索引器的属性为隐式。

(1    a
 3    b
 dtype: object, 1    a
 3    b
 dtype: object)

ix是前两中索引器的混合形式，主要用于dataframe。

# DataFrame数据选择方法

In [4]:
height=pd.Series({'lily':160,'lucy':180,'lorual':156})
height

lily      160
lorual    156
lucy      180
dtype: int64

In [39]:
weight=pd.Series({'lily':60,'lucy':80,'lorual':55})
weight

lily      60
lorual    55
lucy      80
dtype: int64

#使用series构建二维dataframe。列标签作为字典的键，对应值为一个series，两个series公用索引，即行标签。

In [22]:
info=pd.DataFrame({'weight':weight,'height':height})  
info

        height  weight
lily       160      60
lorual     156      55
lucy       180      80

In [23]:
info['weight'],info.weight

(lily      60
 lorual    55
 lucy      80
 Name: weight, dtype: int64, lily      60
 lorual    55
 lucy      80
 Name: weight, dtype: int64)

In [25]:
info['height'],info.height #就像字典一样，可以使用访问键来得到值，也可以通过.以访问属性的形式。实现访问值。

(lily      160
 lorual    156
 lucy      180
 Name: height, dtype: int64, lily      160
 lorual    156
 lucy      180
 Name: height, dtype: int64)

In [27]:
info.weight is info['weight']

True

In [29]:
#但是当列标签不是纯字符串或者与dataframe框架同名时，就不能用属性索引。

In [31]:
#使用字典方式，增加新的列。
info['rate']=info['weight']/info['height']
info

        height  weight      rate
lily       160      60  0.375000
lorual     156      55  0.352564
lucy       180      80  0.444444

#将dataframe看做二维数组

In [35]:
info.values

array([[160.        ,  60.        ,   0.375     ],
       [156.        ,  55.        ,   0.3525641 ],
       [180.        ,  80.        ,   0.44444444]])

In [38]:
info.T#数组转置

           lily      lorual        lucy
height  160.000  156.000000  180.000000
weight   60.000   55.000000   80.000000
rate      0.375    0.352564    0.444444

In [44]:
info.values[0:3]

array([[160.        ,  60.        ,   0.375     ],
       [156.        ,  55.        ,   0.3525641 ],
       [180.        ,  80.        ,   0.44444444]])

In [46]:
info['weight']

lily      60
lorual    55
lucy      80
Name: weight, dtype: int64

In [48]:
info.iloc[:2,:2]

        height  weight
lily       160      60
lorual     156      55

In [51]:
info.loc['lily':'lucy','height':'rate']

        height  weight      rate
lily       160      60  0.375000
lorual     156      55  0.352564
lucy       180      80  0.444444

In [54]:
info.ix[:3,:'weight']

        height  weight
lily       160      60
lorual     156      55
lucy       180      80

In [59]:
info.loc[info.weight>60,['height']]

      height
lucy     180

In [63]:
info['lily':'lucy']

        height  weight      rate
lily       160      60  0.375000
lorual     156      55  0.352564
lucy       180      80  0.444444

In [67]:
info[info.rate>0.37]

      height  weight      rate
lily     160      60  0.375000
lucy     180      80  0.444444